<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <p>
        Search:
        <input ng-model="$ctrl.query" />
      </p>

      <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="make">Alphabetical</option>
          <option value="year">Newest</option>
        </select>
      </p>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="cars">
        <li ng-repeat="car in $ctrl.cars | filter:$ctrl.query | orderBy:$ctrl.orderProp" class="car-list-item">
            <p><strong>Make:</strong>{{car.make}}</p>
            <p><strong>Model:</strong>{{car.model}}</p>
            <p><strong>Year:</strong>{{car.year}}</p>
        </li>
      </ul>

    </div>
  </div>
</div>